<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Stroy-parser35 | Сравни цены в г. Вологда!</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="catalog-container__wrapper">
    <header class="catalog-header catalog-container">
      <a href="{{ url_for('index') }}" class="catalog-header__logo">
        <img src="{{ url_for('static', filename='img/logo-catalog.png') }}" width="300" height="76" alt="Логотип компании">
      </a>

      <form class="search-form" method="get">
        <div class="search-form__column">
          <label for="search-text" class="visually-hidden">Строка поиска товара</label>
          <input class="search-form__input-text" id="search-text" type="text" name="q" value="{{ request.args.get('q', '') }}"
                 placeholder="Введите название товара">

          <p class="search-form__text">
            Например: <a href="{{ url_for('catalog', q='клей боларс стандарт 25 кг') }}" class="search-form__example">клей боларс стандарт 25 кг</a>
            или <a href="{{ url_for('catalog', q='(кнауф knauf) (fliesen флизен) (плюс plus) 25 кг') }}" class="search-form__example">(кнауф knauf) (fliesen флизен) (плюс plus) 25 кг</a>
          </p>
        </div>

        <button class="search-form__button button" type="submit">Найти</button>
      </form>
    </header>
  </div>

  <main class="catalog-page catalog-container">
    <h1 class="visually-hidden">Каталог товаров</h1>

    <h2 class="catalog-page__title">{{ user_query_output }} <span class="catalog-page__amount">{{ data_total }}</span></h2>

    <ul class="catalog-list">
      {% for item in pages.items %}
      <li class="catalog-list__item">
        <h3 class="catalog-list__title">
          {{ item.title }}
        </h3>
        {% if item.url_image == "" %}
        <img src="{{ url_for('static', filename='img/no-image.jpg') }}" class="catalog-list__image">
        {% else %}
        <img src="{{ item.url_image }}" class="catalog-list__image">
        {% endif %}

        {% if item.price %}
        <p class="catalog-list__price">{{ '{:.2f}'.format(item.price) }} &#8381</p>
        {% else %}
        <p class="catalog-list__price">По запросу!</p>
        {% endif %}

        <p class="catalog-list__shop">от {{ item.shop }}</p>
        <a href="{{ item.url }}" class="catalog-list__button">в магазин</a>
      </li>
      {% endfor %}
    </ul>

    <ul class="pagination">
      {% for page in pages.iter_pages() %}
      <li
          {% if page == None %} class="visually-hidden"
          {% elif page == pages.page %} class="pagination__item pagination__item--active"
          {% else %} class="pagination__item"
          {% endif %}>
        <a
            {% if page == pages.page %}
            {% else %} href="./?q={{ user_query_output }}&page={{ page }}"
            {% endif %}>{{ page }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>
