<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Stroy-parser35 | Сравни цены в г. Вологда!</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="catalog-container__wrapper">
    <header class="catalog-header catalog-container">
      <a href="{{ url_for('index') }}" class="catalog-header__logo">
        <img src="{{ url_for('static', filename='img/logo-catalog.png') }}" width="300" height="76" alt="Логотип компании">
      </a>

      <form class="search-form" method="get">
        <div class="search-form__column">
          <label for="search-text" class="visually-hidden">Строка поиска товара</label>
          <input class="search-form__input-text" id="search-text" type="text" name="q" value="{{ request.args.get('q', '') }}"
                 placeholder="Введите название товара">

          <p class="search-form__text">
            Например: <a href="{{ url_for('catalog', q='клей боларс стандарт 25 кг') }}" class="search-form__example">клей боларс стандарт 25 кг</a>
            или <a href="{{ url_for('catalog', q='(кнауф knauf) (fliesen флизен) (плюс plus) 25 кг') }}" class="search-form__example">(кнауф knauf) (fliesen флизен) (плюс plus) 25 кг</a>
          </p>
        </div>

        <button class="search-form__button button" type="submit">Найти</button>
      </form>
    </header>
  </div>

  <main class="catalog-page catalog-container">
    <h1 class="visually-hidden">Каталог товаров</h1>

    <h2 class="catalog-page__title">{{ user_query_output }} <span class="catalog-page__amount">{{ data_total }}</span></h2>

    <ul class="catalog-list">
      <li class="catalog-list__item">
        <h3 class="catalog-list__title">Клей</h3>
        <img src="https://lider35.ru/upload/iblock/ace/ace77c85729321d27a7aa3e389b47c6f.png" width="100%">
        <p class="catalog-list__price">2000</p>
        <p class="catalog-list__shop">от Феди</p>
        <a href="https://ya.ru" class="catalog-list__button">в магазин</a>
      </li>
      <li class="catalog-list__item">
        <h3 class="catalog-list__title">Клей</h3>
        <img src="http://sanvol.ru/upload/shop_1/4/8/0/item_4801070/small_shop_items_catalog_image4801070.jpg" width="100%">
        <p class="catalog-list__price">2000</p>
        <p class="catalog-list__shop">от Феди</p>
        <a href="https://ya.ru" class="catalog-list__button">в магазин</a>
      </li>
      <li class="catalog-list__item">
        <h3 class="catalog-list__title">Клей</h3>
        <img src="https://vologda.upravdom.com/upload/resize_cache/iblock/9da/350_350_118534edb6e0f442f3617906428d1ea26/PFX014.SHA160.6441763B8334DA8A15184A613E33D9836A81E556.jpg" width="100%">
        <p class="catalog-list__price">2000</p>
        <p class="catalog-list__shop">от Феди</p>
        <a href="https://ya.ru" class="catalog-list__button">в магазин</a>
      </li>
      <li class="catalog-list__item">
        <h3 class="catalog-list__title">Клей</h3>
        <img src="https://www.apline35.ru/upload/resize_cache/iblock/433/210_170_140cd750bba9870f18aada2478b24840a/433dc256ed460f37e55be1256f208bbb.jpg" width="100%">
        <p class="catalog-list__price">2000</p>
        <p class="catalog-list__shop">от Феди</p>
        <a href="https://ya.ru" class="catalog-list__button">в магазин</a>
      </li>

      {% for item in pages.items %}
      <li class="catalog-list__item">
        <h3 class="catalog-list__title">
          {{ item.title }}
        </h3>
        <p class="catalog-list__price">{{ item.price }}</p>
        <p class="catalog-list__shop">от {{ item.shop }}</p>
        <a href="{{ item.url }}" class="catalog-list__button">в магазин</a>
      </li>
      {% endfor %}
    </ul>

    <ul class="pagination">
      {% for page in pages.iter_pages() %}
        {% if page == None %}{% endif %}
      <li
          {% if page == None %} class="visually-hidden"
          {% else %} class="pagination__item"
          {% endif %}>
        <a href="./?q={{ user_query_output }}&page={{ page }}">{{ page }}</a>
      </li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>
